<div class="search-block">
  <form class="search-form" [formGroup]="searchForm" (ngSubmit)="onSubmit()">
    <p-floatlabel class="search-field" variant="on">
      <label for="from">• Откуда</label>
      <p-autoComplete
        formControlName="origin"
        inputId="from" [pt]="fromPt"
        [suggestions]="originSuggestions"
        optionLabel="label"
        [forceSelection]="true"
        (completeMethod)="searchOrigins($event)"
        emptyMessage="Ничего не найдено"
      ></p-autoComplete>
      <div class="search-field__messages">
        @if (isInvalid('origin')) {
          <small class="search-field__error">Выберите пункт отправления из списка</small>
        }
      </div>
    </p-floatlabel>
    <p-floatlabel class="search-field" variant="on">
      <label for="to">• Куда</label>
      <p-autoComplete
        formControlName="destination"
        inputId="to"
        [pt]="toPt"
        [suggestions]="destinationSuggestions"
        optionLabel="label"
        [forceSelection]="true"
        (completeMethod)="searchDestinations($event)"
        emptyMessage="Ничего не найдено"
      ></p-autoComplete>
      <div class="search-field__messages">
        @if (isInvalid('destination')) {
          <small class="search-field__error">Выберите пункт прибытия из списка</small>
        }
      </div>
    </p-floatlabel>
    <p-floatlabel class="search-field search-field--date" variant="on">
      <label for="date">
        <img ngSrc="calendar.svg" alt="" height="18" width="18"> Дата</label>
      <p-datePicker
        formControlName="date"
        inputId="date"
        [pt]="datePt"
        showIcon
        iconDisplay="input"
        dateFormat="dd.mm.yy"
        pInputMask="99.99.9999"
        [minDate]="minDate"
        [showButtonBar]="true"
      ></p-datePicker>
    </p-floatlabel>
    <p-button label="НАЙТИ →" [pt]="buttonPt" [disabled]="!searchForm.valid" type="submit"></p-button>
    <div class="search-form__error-slot">
    @if (hasFormError('sameLocations')) {
      <div class="search-form__error">
        Пункт отправления и пункт прибытия должны отличаться
      </div>
    }
    </div>
  </form>
</div>
