@if (hasBaseFacets()) {
  <form class="route-filters" [formGroup]="form">
    <h3 class="route-filters__title">ФИЛЬТРЫ</h3>

    <section class="route-filters__section">
      <div class="route-filters__section-title">Транспорт</div>
      <div class="route-filters__options" formGroupName="transportTypes">
        @for (option of transportOptions(); track option.value) {
          <label class="route-filters__option">
            <p-checkbox
              [binary]="true"
              [formControlName]="option.value"
              [pt]="checkboxPt"
            />
            <img width="20" height="20" [src]="option.icon" [alt]="option.label" class="route-filters__type-icon"/>
            <span class="route-filters__option-label">
              {{ option.label }}
            </span>
            <span class="route-filters__count">{{ option.count }}</span>
          </label>
        }
      </div>
    </section>

    <section class="route-filters__section">
      <div class="route-filters__section-title">Пересадки</div>
      <div class="route-filters__options">
        @for (option of transferOptions(); track $index) {
          <label class="route-filters__option">
            <p-radiobutton
              [formControl]="form.controls.maxTransfers"
              [inputId]="'transfer-' + option.value"
              [name]="'maxTransfers'"
              [value]="option.value"
              [pt]="radioPt"/>
            <span class="route-filters__option-label">{{ option.label }}</span>
            @if (option.count !== undefined) {
              <span class="route-filters__count">{{ option.count }}</span>
            }
          </label>
        }
      </div>
    </section>

    <section class="route-filters__section">
      <div class="route-filters__section-title">Стоимость</div>
      <div class="route-filters__price-inputs">
        <p-inputNumber
          formControlName="maxPrice"
          [min]="0"
          [max]="maxPriceLimit()"
          suffix=" ₽"
          [useGrouping]="true"
          placeholder="Без лимита"
          [pt]="priceInputPt"
        />
      </div>
      <p-slider
        formControlName="maxPrice"
        [min]="0"
        [max]="maxPriceLimit()"
        [pt]="sliderPt"
      />
    </section>

    <section class="route-filters__section">
      <div class="route-filters__section-title">Длительность</div>
      <div class="route-filters__price-inputs">
        <p-inputNumber
          formControlName="maxDurationMinutes"
          [min]="0"
          [max]="maxDurationLimit()"
          suffix=" мин"
          [useGrouping]="true"
          placeholder="Без лимита"
          [pt]="priceInputPt"
        />
      </div>
      <p-slider
        formControlName="maxDurationMinutes"
        [min]="0"
        [max]="maxDurationLimit()"
        [pt]="sliderPt"
      />
    </section>

    <button
      class="route-filters__reset"
      type="button"
      (click)="resetFilters()">
      Сбросить
    </button>
  </form>
}
